@model AdminDemo.ViewModels.TeacherViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}   

<h1>Details</h1>

<div>
    \
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.TeacherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.TeacherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.TeacherDept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.TeacherDept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.TeacherDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.TeacherDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.TeacherQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.TeacherQualification)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
