@model IEnumerable<AdminDemo.ViewModels.TeacherViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>List of Teachers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.TeacherDept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.TeacherDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.TeacherQualification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.TeacherDept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.TeacherDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.TeacherQualification)
            </td>
            <td>
     
                <a asp-action="Details" asp-route-id="@item.Teachers.TeacherId">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
